{:plugin :DigitalOcean
 :firewall [{:protocol "tcp" :ports "22"}
            {:protocol "tcp" :ports "80"}]
 :env ["TOKEN=15633825565"
       "ENABLED=false"
       "DEBIAN_FRONTEND=noninteractive"]
 :transfer ["toinstall.txt"
            "word.txt"]
 :init ["echo Token: $TOKEN"
        "echo Enabled: $ENABLED"
        "apt-get -y install cowsay"
        "xargs apt-get -y <toinstall.txt"]
 :exec "cowsay <word.txt"
 :settings {:token-var "TOKEN"
            :ssh-key "2e:cb:2b:cf:a2:7b:96:2e:b8:35:2b:a8:c4:b1:54:4b"}}
