[{:name :Primary
  :plugin :DigitalOcean
  :firewall [{:protocol "tcp" :ports "22"} ; No source, assume allow all i.e. 0.0.0.0
             {:protocol "tcp" :ports "80"}
             {:protocol "tcp" :ports "8000" :source :Alt}]
  :env [["DEBIAN_FRONTEND" "noninteractive"]]
  :transfer ["main.py"]
  :init ["apt-get install -y python3-fastapi python3-uvicorn"
         "ufw allow 8000/tcp"]
  :exec "python3 -m uvicorn main:app --host 0.0.0.0"
  :settings {:token "TOKEN HERE"
             :ssh-key "SSH KEY HERE"}}
 {:name :Alt
  :plugin :Vultr
  :firewall [{:protocol "tcp" :ports "22"}
             {:protocol "tcp" :ports "80"}
             {:protocol "tcp" :ports "8000"}]
  :env [["DEBIAN_FRONTEND" "noninteractive"]]
  :transfer ["app.py"]
  :init ["apt-get install -y python3-flask"
         "ufw allow 8000/tcp"]
  :exec "flask run --host 0.0.0.0 --port 8000"
  :settings {:token "TOKEN HERE"
             :ssh-key-id "SSH KEY HERE"}}]
