{:servers [{:name "Carrot"
            :firewall [{:protocol "tcp" :ports "22"}
                       {:protocol "tcp" :ports "80"}]
            :env ["TOKEN=15633825565"
                  "ENABLED=false"
                  "DEBIAN_FRONTEND=noninteractive"]
            :transfer ["foo.txt"
                       "bar.txt"]
            ;; :init ["echo $TOKEN"
            ;;        "echo $ENABLED"
            ;;        "apt-get update"
            ;;        "apt-get -y upgrade"]
            :init ["cat foo.txt"
                   "cat bar.txt"]
            :exec "command to run software"}
           ;; {:name "Stick"
           ;;  :firewall [{:protocol "tcp" :ports "22"}
           ;;             {:protocol "tcp" :ports "80"}]
           ;;  :env ["FOO=bar"
           ;;        "BIZ=baz"]
           ;;  :transfer []
           ;;  :init ["echo $FOO"
           ;;         "echo $BIZ"
           ;;         "for i in $(seq 1 10); do echo $i; sleep 1; done"]
           ;;  :exec "command to run software"}
           ]}
